*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks
/Windows/build/
/Windows/.kotlin/
/Tizen Samsung/node_modules/
/Tizen Samsung/build/
/Tizen Samsung/PowerIPTV-Tizen/
*.p12
/iOS/Pods/
/iOS/Portiva.xcodeproj/
/iOS/Portiva.xcworkspace/
/iOS/Podfile.lock
/iOS/build/
/iOS/Payload/
