*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks
/Windows/build/
/Windows/.kotlin/
/Tizen Samsung/node_modules/
/Tizen Samsung/build/
/Tizen Samsung/PowerIPTV-Tizen/
*.p12
